@charset "utf-8";
/* CSS Document */

body{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	background-image:url(../images/bg.jpg);
	/*background-repeat:no-repeat;*/
}

.teste {
background:#333;
width:450px;
margin: auto;
padding:10px;
text-align:center;
 
-moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;
}

#boton{

-moz-border-radius:7px;
-webkit-border-radius:7px;
 border-radius:7px;

}
.cadastros_pdr_container{
	width: 60%;
}