<div class="container home_pdr">
	<div class="row">
		<div class="col-md-12 espaco">
			<a ui-sref="home">
				<img class="center-block" src="images/logo_03.png" class="center-block" width="300"/>
			</a>
		</div>
		<div  ng-hide="user.nome">
			<div class="col-md-12 espaco">
				<a href="#" ui-sref="login">
					<img class="center-block" src="images/btn_entrar.png" width="200" border="0"/>
				</a>
			</div>
			<div class="col-md-12 espaco">
				<a href="#" ui-sref="cadastra-usuario">
					<img class="center-block" src="images/btn_cadastrar.png" width="200" border="0"/>
				</a>
			</div>
			<div class="col-md-12 espaco">
				<a href="#" ui-sref="esqueci-senha">
					<img class="center-block" src="images/btn_esqueciAsenha_11.png" width="200" border="0"/>
				</a>
			</div>
		</div>
	</div>
</div>