<div class="container cadastros_pdr_login">
	<div class="row">
		<div class="col-md-12 form-group">
			<a ui-sref="home">
				<img src="images/logo_03.png" class="center-block" width="200" border="0"/>
			</a>
		</div>
		<div class="form-group">
			<input type="text" placeholder=" EMAIL" ng-model="email" class="form-control"/>
		</div>
		<div class="form-group">
			<input type="password" placeholder=" SENHA" ng-model="senha" class="form-control"/>
		</div>
		<div class="col-md-6 form-group">
			<a href="#" ng-click="logar()">
				<img class="center-block" src="images/btn_cadastrar.png" width="150" border="0"/>
			</a>
		</div>
		<div class="col-md-6 form-group">
			<a href="#" ui-sref="home">
				<!--<img class="center-block" src="images/btn_cadastrar.png" width="150" border="0"/>-->
				<h3>Voltar</h3>
			</a>
		</div>
	</div>
</div>